.git
.next
**/.next
**/node_modules
**/out
**/.turbo
**/.cache
**/dist
**/build
**/*.log
config.yaml
config.yml
backend/config.yaml
backend/config.yml
frontend/package-lock.json
backend/storage
storage
tmp
**/*.test.ts
**/*.test.tsx
**/*.spec.ts
**/*.spec.tsx
